@import url(quiz_block.css);
@import url(/view/animated.globe.css);

body {
    width: 100vw;
    height: 100vh;
    margin: 0 0;

   background-image: url(./../assets/image.main.quiz.png);
    background-repeat: repeat;
    background-size: 200px;

     
}

header {
    width: 100%;
    height: 12%;
    background-color: #fbca1f;
    padding: 2vh 47vw;
}

main {
    width: 100%;
    height: 76%;
   
    padding: 5% 33%;
}

footer {
    width: 100%;
    height: 12%;
    background-color: rgba(240, 248, 255, 0.329);
    
    
}